<head th:fragment="header">
  <meta charset="UTF-8">
  <title>MobiLeLeLe</title>
  <link rel="stylesheet" href="/css/reset-css.css"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/main.css"/>
  <a target="_blank" href="https://icons8.com/icon/4dqsT2AH4HgX/banknotes">Banknotes</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <script src="/js/jquery-3.5.1.slim.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>