<header th:fragment="navigation">
  <nav class="main-nav">
    <ul>
      <th:block  th:if="${@loggedUser.id == null}">
        <li>
          <a th:href="@{/}">Home</a>
        </li>
        <li>
          <a th:href="@{/auth/login}">Login</a>
        </li>
        <li>
          <a th:href="@{/auth/register}">Register</a>
        </li>
        <li>
          <a th:href="@{/about}">About</a>
        </li>
      </th:block>

      <th:block th:unless="${@loggedUser.id == null}">
        <li>
          <a th:href="@{/add-route}">Add new route</a>
        </li>
        <li>
          <a th:href="@{/profile}">Profile</a>
        </li>
        <li th:if="${@loggedUser.isAdmin()}">
          <a th:href="@{/}">Admin</a>
        </li>
        <li>
          <a th:href="@{/}">Logout</a>
        </li>
      </th:block>
    </ul>
  </nav>
</header>